<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quam neque
    aperiam minima maiores, voluptate quis molestiae recusandae eos est vero
    dolorum ipsum fugiat totam. Amet deserunt illo illum nihil praesentium,
    temporibus consequuntur sunt sapiente obcaecati iusto quas dolores ducimus
    excepturi ipsam aut voluptatem voluptate expedita aliquid! Laboriosam, dolor
    mollitia?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhone Lumeo</h3>
        <p class="quote__organization">Robify company ceo</p>
      </div>
    </div>
  </footer>
</blockquote>
